* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1.4fr 8fr 0.8fr / 1fr;
  background-color: #040D12;
  color: white;
}

header,
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #183D3D;
}

h1 {
  font-size: 3rem;
}

a, a:visited {
  color: white;
}

section {
  padding: 30px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result-container {
  height: 400px;
  width: 400px;
  background-color: #183D3D;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.location {
  font-size: 2rem;
}

.datetime{
  font-size: 2rem;
}

.temperature{
  font-size: 6rem;
}
